
body{
   

    font-family: "Ubuntu", sans-serif;
}
            /* Title */
#title{
    background-color: #359148;
    
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 30px;
}
.nav-item{
    padding-left: 18px;
    padding-right: 18px;
       
}
.nav-link{
    font-size: 1.3rem;
    font-family: "Ubuntu";
}

#monitor-img{
    transform: rotate(20deg);
    height: 60%;
    position: absolute;
    right: 30%;
}
.title-h{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    margin-top: 40px;
    padding-bottom: 40px;
}
.dowloand-btn{
    margin: 20px 0px 20px 10px;
    padding: 20px;
}
.container-fluid{
    padding: 3% 15% 5%;
  
}
            /* Features */
.features{
    padding: 0 3% 0 3%;
   
    text-align: center;
}
#features{
    padding: 5% 10%;
    background-color: #fff;
    position: relative;

    
    
}
.features-h3{
    line-height: 1.5rem;
}
.features-p{
    margin-top: 5%;
    color: #8f8f8f;
    font-family: 'Ubuntu';
    font-size: 1.3rem;
}

.features-icons{
    color:#41961A;
    font-size: 4rem;
    padding-bottom: 20px;
}
.features-icons:hover{
    color:#206A5D;
}
        /* Testimonials*/
#testimonials{
    color: #fff;
    background-color: #359148;
    
    text-align: center; 
}
.testimonials-h{
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
}
.profile-img{
    width: 10%;
    border-radius: 100%;
    margin: 30px;
}
.carousel-item{
    padding: 5% 10%;
}
#sponsors{
    text-align: center;
    background-color: #359148;
    padding-bottom: 3%;
}
.sponsors-img{
    width: 10%;
    margin: 20px 10px;
}
            /* pricing */
.pricing-h{
    font-family: "Montserrat", sans-serif;
    padding-bottom: 3%;
}
.pricing-p{
    font-size: 1.5rem;
    padding-bottom: 3%;
}            
.pricing{
    text-align: center;
    padding: 5% 20% 10% 20%;
}  

            /* footer */

.footer1{
    background-color: #359148;
    text-align: center;
}
.footer2{
    background-color: #fff;
    text-align: center;
}
.footer-p{
    
    color: #8f8f8f;
    font-family: 'Ubuntu';
    font-size: 1.3rem;
}
.footer-h{
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: "Montserrat", sans-serif;
}
.btn-footer{
    margin: 20px 0px 70px 10px;
    padding: 20px;

}
.footer-icon{
    padding: 3%;
    font-size: 2rem;
}

            /* media query*/
@media (max-width: 1200px){
   
    #monitor-img{
        position: static;
        transform: rotate(0);
        height: 100%;
        padding-bottom: 10%;
    }
    .features{
        position: static;
    }
    .container-fluid{
        padding: 0%;
    }
    .title-row{
        text-align: center;
    }
    .col-phone{
        height: 416px;
    }
    .testimonials-h{
        font-size: 1.5rem;
    }
    .sponsors-img{
        height: 40%;
    }
}    

    


